.facade{
  font-family: 'FacadeGX';/*on réutilise le nom choisi au sein du fichier font_liste.css*/
}

.ouvrieres{
  font-family: 'OuvrièresGX';
}

.fungal{
  font-family: 'FungalGX';
}

.movement{
  font-family: 'MovementV';
}
  
.recursive{
  font-family: 'recursive';
}

.bricolage{
  font-family: 'BricolageGrotesque';
}

.handjet{
  font-family: 'handjet';
}

.sixtyhour{
  font-family: 'sixtyhour';
}

.tiny{
  font-family: 'tiny';
}
 

.mixal{
  font-family: 'mixal';
}
  
 
  
  
  
  